body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    background-color: #1b1b1b;
    margin: 0px;
    padding: 0px;
}

section {
    height: 100vh; /* 760px */
    width: 100vw; /* 360px */
    max-width: 936px;
    /*border: 1px solid #aaa;
    border-radius: 10px;*/
    color: white;
    margin: 0px;
    padding: 0px;
}

header {
    margin: 0px auto;
    height: 512px;
    position: relative;
}

.hero-bg {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.hero-msg {
    /*border: 1px solid red;*/
    width: 80vw;
    max-width: 560px;
    position: absolute;
    bottom: 20px;
    left: calc(40% - 80px);
}

.hero-msg h1 {
    font-family: 'Arial Black', 'Arial Bold', Arial, sans-serif;
    font-size: clamp(2.4rem, 8vw, 4rem);
    line-height: 120%;
    font-weight: 900;
}

main {
    margin: 0px auto;
    font-size: clamp(1em, 5vw, 1.5rem);
    background-color: #111;
}

main p {
    padding: 20px;
}

main .strong {
    font-size: clamp(0.6rem, 5vw, 1.8rem);
    font-weight: 900;
}

main .pesquisa {
    margin: 30px 0px;
    padding: 20px;
    width: 80%;
}

main .pesquisa a {
    display: block;
    border-radius: 10px;
    padding: 40px;
    font-family: 'Arial Black', 'Arial Bold', Arial, sans-serif;
    font-size: 1.5em;
    text-decoration: none;
}

main .pesquisa a:link, main .pesquisa a:visited {
    background-color: red;
    color: white;
}

main .pesquisa a:hover {
    background-color: #7F0000;
    color: #ccc;
}

main .pesquisa a:active {
    background-color: #3F0000;
    color: #aaa;
}